*.o
*.a
*.elf
*.bin
*.klf
*.exe
*.dll
*.map
*.gcno
*.gcda
*~
.*.swp
.DS_Store
.cache/
.vscode/
.clangd
.envrc
compile_commands.json
coverage.info
environ.sh
romdisk.img
gmon.out
html/
/doc/reference/
/ports/
/examples/errors.txt
/examples/error_count.txt
