name: KallistiOS

run-name: ${{ github.actor }} is testing out GitHub Actions

on:
  push:
    branches: [ $default-branch, create-github-actions ]
  pull_request:
    branches: [ $default-branch, create-github-actions ]

env:
  KOS_PORTS_URL: https://github.com/KallistiOS/kos-ports.git
  GIT_CLONE_PATH: ${{ github.workspace }}
  ENVIRON_SH: environ.sh
  KOS_PORTS_PATH: ${{ github.workspace }}/kos/kos-ports
  KOS_PORTS_PACKAGE: ${{ github.workspace }}/kos/kos-ports.tar.xz

jobs:
  build_kos:
    name: Build KallistiOS
    runs-on: ubuntu-latest
    container: segadreamcast/toolchains:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Building KallistiOS
        run: |
          ls -la
          echo $GIT_CLONE_PATH
          uname -a
          cat /etc/os-release
          apk upgrade --no-cache
          apk add coreutils xxd
          cp doc/$ENVIRON_SH.sample $ENVIRON_SH
          sed -i 's/\/opt\/toolchains\/dc\/kos/${GIT_CLONE_PATH}/' $ENVIRON_SH
          sed -i 's/\${KOS_BASE}\/..\/kos-ports/${KOS_PORTS_PATH}/' $ENVIRON_SH
          echo ---
          cat $ENVIRON_SH
          echo ---
          source $ENVIRON_SH
          kos-cc --version
          make
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: kallistios
          path: |
            addons/lib/dreamcast/*.a
            lib/dreamcast/*.a
            utils/bin2c/bin2c  
            utils/bincnv/bincnv
            utils/dcbumpgen/dcbumpgen
            utils/genromfs/genromfs
            utils/isotest/isotest
            utils/kmgenc/kmgenc
            utils/makeip/makeip
            utils/rdtest/rdtest
            utils/scramble/scramble
            utils/vqenc/vqenc
            utils/wav2adpcm/wav2adpcm
            utils/dcdis/src/dcdis
            $ENVIRON_SH

  build_kos_ports:
    name: Build KallistiOS Ports  
    needs: [ build_kos ]
    runs-on: ubuntu-latest
    container: segadreamcast/toolchains:latest
    steps:
      - name: Building KallistiOS Ports
        run: |
          source $ENVIRON_SH
          git clone $KOS_PORTS_URL $KOS_PORTS_PATH
          cd $KOS_PORTS_PATH/utils
          ./build-all.sh
          cd $KOS_PORTS_PATH
          tar -cvzhf $KOS_PORTS_PACKAGE include/* lib/*.a
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: kallistios-ports
          path: |
            $KOS_PORTS_PACKAGE

  test:
    name: Test
    needs: [ build_kos, build_kos_ports ]
    runs-on: ubuntu-latest
    container: segadreamcast/toolchains:latest
    steps:
      - run: |
          mkdir -p $KOS_PORTS_PATH
          cd $KOS_PORTS_PATH
          tar -xvf $KOS_PORTS_PACKAGE
          source $ENVIRON_SH
          cd examples
          make
